In [36]:
import requests
import pandas as pd
from datetime import datetime
import time

In [37]:
API_KEY = "df57c152a532b88aa2501d0141e9f090"   
BASE_URL = "https://api.openweathermap.org/data/2.5/forecast"

In [ ]:
cities = [
    # ðŸ‡®ðŸ‡³ India
    "Delhi,IN","Mumbai,IN","Chennai,IN","Kolkata,IN","Bangalore,IN",
    "Hyderabad,IN","Jaipur,IN","Patna,IN","Ranchi,IN","Lucknow,IN",

    # ðŸ‡ºðŸ‡¸ USA
    "New York,US","Los Angeles,US","Chicago,US","Houston,US",
    "Phoenix,US","San Francisco,US","Seattle,US","Miami,US",

    # ðŸ‡ªðŸ‡º Europe
    "London,UK","Paris,FR","Berlin,DE","Rome,IT","Madrid,ES",
    "Amsterdam,NL","Vienna,AT","Zurich,CH",

    # Asia
    "Tokyo,JP","Osaka,JP","Seoul,KR","Beijing,CN","Bangkok,TH",
    "Singapore,SG","Jakarta,ID","Kuala Lumpur,MY",

    # Others
    "Dubai,AE","Doha,QA","Cairo,EG","Cape Town,ZA",
    "Sydney,AU","Melbourne,AU","Toronto,CA","Vancouver,CA"
]

In [ ]:
def fetch_forecast(city):
    params = {
        "q": city,
        "appid": API_KEY,
        "units": "metric"
    }
    
    try:
        response = requests.get(BASE_URL, params=params, timeout=10)
        if response.status_code != 200:
            print("Failed:", city)
            return []
        
        data = response.json()
        records = []

        for item in data["list"]:
            record = {
                "city": city,
                "temperature": item["main"]["temp"],
                "humidity": item["main"]["humidity"],
                "pressure": item["main"]["pressure"],
                "wind_speed": item["wind"]["speed"],
                "weather": item["weather"][0]["main"],
                "timestamp": datetime.fromtimestamp(item["dt"])
            }
            records.append(record)

        print(f"{city} â†’ {len(records)} records collected")
        return records

    except Exception as e:
        print("âš  Error:", city, e)
        return []

In [41]:
weather_data = []

for city in cities:
    city_data = fetch_forecast(city)
    weather_data.extend(city_data)
    time.sleep(1)   # small delay for safety

âœ… Delhi,IN â†’ 40 records collected
âœ… Mumbai,IN â†’ 40 records collected
âœ… Chennai,IN â†’ 40 records collected
âœ… Kolkata,IN â†’ 40 records collected
âœ… Bangalore,IN â†’ 40 records collected
âœ… Hyderabad,IN â†’ 40 records collected
âœ… Jaipur,IN â†’ 40 records collected
âœ… Patna,IN â†’ 40 records collected
âœ… Ranchi,IN â†’ 40 records collected
âœ… Lucknow,IN â†’ 40 records collected
âœ… New York,US â†’ 40 records collected
âœ… Los Angeles,US â†’ 40 records collected
âœ… Chicago,US â†’ 40 records collected
âœ… Houston,US â†’ 40 records collected
âœ… Phoenix,US â†’ 40 records collected
âœ… San Francisco,US â†’ 40 records collected
âœ… Seattle,US â†’ 40 records collected
âœ… Miami,US â†’ 40 records collected
âœ… London,UK â†’ 40 records collected
âœ… Paris,FR â†’ 40 records collected
âœ… Berlin,DE â†’ 40 records collected
âœ… Rome,IT â†’ 40 records collected
âœ… Madrid,ES â†’ 40 records collected
âœ… Amsterdam,NL â†’ 40 records collected
âœ… Vienna,AT â†’ 40 records collected
âœ… Zurich,CH â†’ 40 records collected
âœ… Tokyo,JP â†’ 40 records collected
âœ… Osaka,JP â†’ 40 records collected
âœ… Seoul,KR â†’ 40 records collected
âœ… Beijing,CN â†’ 40 records collected
âœ… Bangkok,TH â†’ 40 records collected
âœ… Singapore,SG â†’ 40 records collected
âœ… Jakarta,ID â†’ 40 records collected
âœ… Kuala Lumpur,MY â†’ 40 records collected
âœ… Dubai,AE â†’ 40 records collected
âœ… Doha,QA â†’ 40 records collected
âœ… Cairo,EG â†’ 40 records collected
âœ… Cape Town,ZA â†’ 40 records collected
âœ… Sydney,AU â†’ 40 records collected
âš  Error: Melbourne,AU HTTPSConnectionPool(host='api.openweathermap.org', port=443): Read timed out. (read timeout=10)
âœ… Toronto,CA â†’ 40 records collected
âœ… Vancouver,CA â†’ 40 records collected

In [42]:
df = pd.DataFrame(weather_data)
df.head()

,city,temperature,humidity,pressure,wind_speed,weather,timestamp
0,"Delhi,IN",18.24,23,1020,1.20,Clear,2026-01-12 17:30:00
1,"Delhi,IN",17.46,26,1020,1.43,Clear,2026-01-12 20:30:00
2,"Delhi,IN",15.37,31,1021,1.13,Clear,2026-01-12 23:30:00
3,"Delhi,IN",12.56,36,1021,1.38,Clear,2026-01-13 02:30:00
4,"Delhi,IN",11.67,38,1021,1.41,Clouds,2026-01-13 05:30:00

In [43]:
df.to_csv("../data/raw_weather_data.csv", index=False)
print("raw_weather_data.csv saved successfully")
df.head()

raw_weather_data.csv saved successfully

,city,temperature,humidity,pressure,wind_speed,weather,timestamp
0,"Delhi,IN",18.24,23,1020,1.20,Clear,2026-01-12 17:30:00
1,"Delhi,IN",17.46,26,1020,1.43,Clear,2026-01-12 20:30:00
2,"Delhi,IN",15.37,31,1021,1.13,Clear,2026-01-12 23:30:00
3,"Delhi,IN",12.56,36,1021,1.38,Clear,2026-01-13 02:30:00
4,"Delhi,IN",11.67,38,1021,1.41,Clouds,2026-01-13 05:30:00